@{
    ViewBag.Title = "Home Page";
@*
//we can set a specific layout for this file 
Layout = "MyLayout.cshtml"
*@
}

<div class="jumbotron">
    <h1>Middle Valley Community Bank</h1>
    <p class="lead">MVC Bank ofers the firt ever web-based ATM.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Open your account today.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Enter your account.</p>
        <p>@Html.ActionLink("Login", "Login", "Account", null, new {@class = "btn btn-default"})</p>
    </div>
</div>
@* Add scripts to a view file *@
@section scripts{
<script>var testing = true;</script>
}
@{
var amounts = new List<Decimal>
    {100, 25.05m, -40, 275.00m};
    <ul>
        @foreach(decimal amount in amounts){
            <li>@formatAmout(amount)</li>
        }
    </ul>
    }

    You are using @Request.Browser.Browser, which is cool !!
    <!--It can handel Emails but not Twitter-->
    Email us at atm@admin.com or twwet us @@atm

    @helper formatAmout(decimal amount){
    var color = "green";
    if(amount < 0){
    color = "red";
    }
    <span style="color:@color">@String.Format("{0:c}", amount)</span>
    }

